page-individus-sur-lieux {
}
.button-row-individus{
  font-size: 2em; 
  height: 3em;
  width: 100%;
  margin-top: 0.7em;
}
.button-row-individus-3{
  font-size: 2em; 
  height: 2em;
  width: 100%;
  margin-top: 0.7em;
}