// page-home {   
// }
$button-md-text-transform: lowercase;
@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('../../assets/font/miso-light.woff') format('woff');
}


@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('../../assets/font/miso.woff') format('woff');
}


@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('../../assets/font/miso-bold.woff') format('woff');
}
.button-logo-home{
    background: url("../../assets/imgs/logo_mayday_plein_60.png");
    // height: 295px;
    // width: 231px;
    height: 177px;
    width: 139px;
    margin-left: 10%;    
    margin-top: 8%;
    // font-family: Miso; 
    font-size: 2.2em; 
    padding-bottom: 1.2em;           
    transform: rotate(-45deg);
    
}
.text-button_home{
    transform: rotate(45deg);
}
.button-row{
    font-size: 2.2em; 
    width: 100%;
    // font-family: Miso;    
}
.md .button-row{
    font-size: 2.2em; 
    width: 100%;
    // font-family: Miso;    
    text-transform: $button-md-text-transform;
}
.icon-col{
    font-size: 3em;
    padding-right: 2em;
}
.logo-grid{
    // height: 20%;
    // width: 20%; 
    padding: 1em
}
.md .logo-title{
    margin-top: 2%;
    // margin-left: 35%;
    height: 40%;
    width: 40%;
}
.ios .logo-title{
    // margin-top: 2%;
    // margin-left: 35%;
    height: 50%;
    width: 50%;
}
.geste{
    padding-top: 20%;
    padding-bottom: 20%
}
.logo-home{
    height: 40%;
    width: 40%;
    margin-top: 5%;
    margin-left: 10%;
    transform: rotate(-45deg);
}
