page-urgence {
}
.conteneur-step{
    // background-color: rgb(113, 169, 241);
    padding: 0.5em
}
.button-step{
    // background-color: #cbeaf198;
    border-color: #488aff;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    margin: 0.5em
}