<!--
  Generated template for the MesUrgengesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Historique des urgences</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let item of urgenceSaved">
      <button ion-item  (click)="getDetailPage(item)" >
        <div class="item-button-mes-urgences">
          <div>
            Urgence {{ item.typeUrgence_1 }} du {{ item.date | date:"d/M/y"}}
          </div>
          <div *ngIf="item.enCours">
            <ion-icon ios="ios-time" md="md-time"></ion-icon>
          </div>
        </div>
      </button>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="swipeDelete(item)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          supprimer
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
