page-mon-urgence {

}
.root-mon-urgence{}
.button-row-mon-urgence{
  font-size: 2.2em; 
  height: 2em;
  width: 100%;
  margin-top: 0.7em;
  // font-family: Miso;   
}
.md .logo-title-mon-urgence{
  margin-top: 10%;
  // margin-left: 35%;
  height: 40%;
  width: 40%;
}
.ios .logo-title-mon-urgence{
  // margin-top: 10%;
  margin-left: 25%;
  height: 40%;
  width: 40%;
}